NADEO_ACCOUNT_ID=
NADEO_CORE_TOKEN=
NADEO_LIVE_TOKEN=
WARRIOR_API_URL=https://raw.githubusercontent.com/ezio416/tm-json/main/warrior.json
WARRIOR_API_USER_AGENT=tm-warrior-dashboard
DATABASE_URL=sqlite:///./data/app.db
